<%= form_for(@updatemodel) do |f| %>
  <% if @updatemodel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@updatemodel.errors.count, "error") %> prohibited this updatemodel from being saved:</h2>

      <ul>
      <% @updatemodel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :update_start %><br>
    <%= f.text_field :update_start %>
  </div>
  <div class="field">
    <%= f.label :update_name %><br>
    <%= f.text_field :update_name %>
  </div>
  <div class="field">
    <%= f.label :update_method %><br>
    <%= f.text_field :update_method %>
  </div>
  <div class="field">
    <%= f.label :update_term %><br>
    <%= f.text_field :update_term %>
  </div>
  <div class="field">
    <%= f.label :update_other %><br>
    <%= f.text_field :update_other %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
