<p id="notice"><%= notice %></p>

<h1>ntt docomo Android端末更新情報一覧</h1>

<table>
  <thead>
    <tr>
      <th>更新開始日</th>
      <th>機種名</th>
      <th>対応方法</th>
      <th>更新期間</th>
      <th>その他</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @updatemodels.each do |updatemodel| %>
      <tr>
        <td><%= updatemodel.update_start %></td>
        <td><%= updatemodel.update_name %></td>
        <td><%= updatemodel.update_method %></td>
        <td><%= updatemodel.update_term %></td>
        <td><%= updatemodel.update_other %></td>
        <td><%= link_to 'Show', updatemodel %></td>
        <td><%= link_to 'Edit', edit_updatemodel_path(updatemodel) %></td>
        <td><%= link_to 'Destroy', updatemodel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Updatemodel', new_updatemodel_path %>
