<p id="notice"><%= notice %></p>

<p>
  <strong>Update start:</strong>
  <%= @updatemodel.update_start %>
</p>

<p>
  <strong>Update name:</strong>
  <%= @updatemodel.update_name %>
</p>

<p>
  <strong>Update method:</strong>
  <%= @updatemodel.update_method %>
</p>

<p>
  <strong>Update term:</strong>
  <%= @updatemodel.update_term %>
</p>

<p>
  <strong>Update other:</strong>
  <%= @updatemodel.update_other %>
</p>

<%= link_to 'Edit', edit_updatemodel_path(@updatemodel) %> |
<%= link_to 'Back', updatemodels_path %>
